<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
</head>
<body>
    <h2>Signup Form</h2>
    <form id="signupForm">
        <label for="name">Name:</label>
        <input type="text" id="userName" required><br>

        <label for="email">Email:</label>
        <input type="email" id="emailId" required><br>

        <label for="mobilenumber">Mobile Number:</label>
        <input type="mobilenumber" id="mobileNumber" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" required><br>
        <button type="submit">Sign Up</button>
    </form>

    <script>
        document.getElementById("signupForm").addEventListener("submit", function(event) {
            event.preventDefault();

            const user = {
                userName: document.getElementById("userName").value,
                emailId: document.getElementById("emailId").value,
                mobileNumber: document.getElementById("mobileNumber").value,
                password: document.getElementById("password").value
         }

            fetch("http://localhost:8080/api/signup", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(user)//`userName=${name}&emailId=${email}&password=${password}&mobileNumber=${mobilenumber}`
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                // If the response is 2xx, we assume success
                return response; 
                })
            .then(() => {
                alert("Signup successful!");
                window.location.href = "index.html";
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Signup failed: " + error.message);
            });
        });
    </script>
</body>
</html>